.content {
    border-color: #3c3c3c;
}

.shadow-overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0.3rem 0.3rem 0.5rem #0007;
    pointer-events: none;
    z-index: 20;
}