@import "tailwindcss";

:root {
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    --zyn-bg: var(--color-zinc-900);
    --zyn-bg-alt: var(--color-zinc-800);
    --zyn-bg-item: var(--color-zinc-700);
    --zyn-bg-item-alt: var(--color-zinc-800);
    --zyn-bg-item-accent: var(--color-zinc-600);

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    margin: 0;

    .zyn-bg {
        background: var(--zyn-bg);
    }

    .zyn-bg-alt {
        background: var(--zyn-bg-alt);
    }

    .zyn-bg-item {
        background: var(--zyn-bg-item);
    }

    .zyn-bg-item-alt {
        background: var(--zyn-bg-item-alt);
    }

    .zyn-bg-item-accent {
        background: var(--zyn-bg-item-accent);
    }

    .shadow-t {
        z-index: 10;
        box-shadow: 0 -0.4rem 1rem #0002;
    }

    .menubutton {
        position: absolute;
        z-index: 11;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 2rem;
        height: 2rem;
        margin: 0.8rem;
        border-radius: 33%;
        overflow: hidden;
        box-shadow: none;
    }
    .menubutton:hover {
        background: #fff3;
        cursor: pointer;
    }
    .hide {
        opacity: 0;
        z-index: -1;
    }

    .content {
        border-color: #3c3c3c;
    }

    .shadow-overlay::after {
        content: "";
        position: absolute;
        inset: 0;
        box-shadow: inset 0.3rem 0.3rem 0.5rem #0007;
        pointer-events: none;
        z-index: 20;
    }

    .zi {
        display: inline-block;
        width: 0.1em;
        height: 0.1em;
        scale: 0.5;

        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;

        background-color: currentColor;
    }

    .zi.zi-library {
        -webkit-mask-image: url('../icons/library.svg');
        mask-image: url('../icons/library.svg');
    }

    .zi.zi-home {
        -webkit-mask-image: url('../icons/home.svg');
        mask-image: url('../icons/home.svg');
    }
}

* {
    ::-webkit-scrollbar {
        position: absolute;
        width: 3px;
        height: 3px;
    }

    ::-webkit-scrollbar-track {
        position: absolute;
        background: var(--color-zinc-900);
    }

    ::-webkit-scrollbar-thumb {
        position: absolute;
        scrollbar-width: thin;
        background: #ffffff25;
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        position: absolute;
        background: #ffffff50;
    }
}