div.flex.menuview {
    height: 100%;
    max-width: 100%;
    overflow: hidden;

    div.menu {
        overflow: hidden;
        overflow-y: auto;
        max-width: 14rem;
        min-width: 14rem;
        border-right: 1px solid #ffffff25;;
        background: var(--color-zinc-900);
        gap: 5px;
        box-shadow: 0 0 0.75rem #00000050;
        transition: all 0.15s ease;
        white-space: nowrap;
        font-size: 0.9rem;

        hr {
            color: var(--color-zinc-800);
            margin: 0.334rem 0;
        }

        option {
            background: black !important;
            color: white !important;
        }

        button, a, select {
            -webkit-appearance: none;
            appearance: none;
            background: var(--color-zinc-800);
            text-align: left;
            padding: 0.334rem 0.5rem;
            border-radius: 0.4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 2.1rem;
            max-height: 2.1rem;
            transition: all 0.15s ease;
        }

        button:hover, a:hover, select:hover {
            background: var(--color-zinc-700);
            cursor: pointer;
            box-shadow: 0 0 0.4rem #00000050;
        }

        button.active, a.active, select.active {
            background: white;
            color: black;
            box-shadow: 0 0 0.4rem #00000050;
        }

        button:disabled, a:disabled, button.disabled, a.disabled, select.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            color: #7c7c7c;
            background: var(--color-zinc-800);
            box-shadow: unset;
        }
    }

    div.menu.disabled, div.menu:disabled {
        min-width: 0;
        max-width: 0;
        padding: 0.75rem 0;
        overflow-y: hidden;
        border-right: none;
    }

    div.content {
        background: #ffffff05;
        overflow: hidden;
        overflow-y: auto;
    }
}