.titlebar {

    button {
        height: 2rem;
        width: 2rem;
    }

    button:hover {
        background-color: #ffffff25;
        cursor: pointer;
    }

    button.close:hover {
        background-color: red;
    }
}